$primary_color: rgba(12, 238, 255, 0.8);
$secondary_color: rgb(12, 185, 255);
$third_color: rgba(12, 238, 255, 1);
$fourth_color: rgba(12, 238, 255, 0.1);

$top_z_index: 5;
$mid_z_index: 0;
$bottom_z_index: -5;