@import "./variables";
.app_container{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  min-height: 100vh;
  .routes_container{
    min-height: 100vh;
  }
}