@import "./mixins";
@import "./variables";
.cart_product{
  @include flexCenterRow;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-evenly;
  font-weight: bold;
  padding: 10px;
  .cart_product_image{
    padding-left: 10px;
    img{
      width: 120px;
    }
  }
  .cart_product_info{
    margin: 0;
    width: 100%;
    padding: 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    .cart_product_buttons, p{
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  .item_stats{
    @include flexCenterRow;
    width: 100%;
  }
}
.first_cart_product{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}