@import "./mixins";
@import "./variables";
#stripe_checkout_form{
  display: flex;
  flex-flow: row wrap;
  width: 300px;
  .stripe_card_element{
  }

  #card_number_element{
    width: 70%;
    border: 1px solid $third_color;
    padding: 5px;
    @include borderRadius(5px);
    background: $secondary_color;
    input{
      color: red;
    }
  }
  #cvc_element{
    width: 50px;
    border: 1px solid $third_color;
    padding: 5px;
    @include borderRadius(5px);
    background: $secondary_color;
  }
  #expiry_element{
    width: 50px;
    border: 1px solid $third_color;
    padding: 5px;
    @include borderRadius(5px);
    background: $secondary_color;
  }
}