@import "./variables";
@import "./mixins";
#login_container{
  @include flexCenterCol();
  min-height: 100vh;
  width: 100%;
  .display_container{
    background: $primary_color;
    @include boxShadow();
    width: 50vw;
    height: 50vh;
    div, form{
      @include flexCenterCol;
      display: flex;
      width: 100%;
      height: 100%;
      text-align: center;
      label{
        color: $secondary_color;
        font-weight: bold;
        margin: 5px 0;
        z-index: $top_z_index;
        a{
          color: white;
          &:hover{
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
      input {
        @include borderRadius(5px);
        width: 80%;
        height: 40px;
        border: 1px solid $secondary_color;
        margin: 5px;
        text-align: center;
        z-index: $top_z_index;
      }

      p{
        font-weight: bold;
        width: 80%;
        font-size: 1.1em;
        color: $secondary_color
      }
    }
    .checkbox{
      @include flexCenterRow();
      width: 80%;
      height: auto;
      display: flex;
      div{
        @include flexCenterRow();
        width: 50%;
        font-size: 0.8em;
        display: flex;
        text-align: center;
        input{
          margin-left: calc(50% - 10px);
        }
      }
    }
    #login_submit{
      @include fastTransition();
      background: $secondary_color;
      color: $third_color;
      font-size: 1em;
      &:hover{
        cursor: pointer;
        border-color: white;
        color: white;
      }
    }
    .back_button{
      position: absolute;
      height: 50vh;
      width: 50vw;
      #fa_back_button{
        @include scale(1.5);
        @include fastTransition();
        position: absolute;
        top:25px;
        left: 25px;
        color: $secondary_color;
        z-index: $top_z_index;
        &:hover{
          cursor: pointer;
          color: white;
        }
      }
    }

    button{
      @include fastTransition();
      @include borderRadius(5px);
      width: 250px;
      height: 50px;
      background: $secondary_color;
      border: 1px solid $third_color;
      margin: 10px 0;
      color: $third_color;
      font-size: 1.1em;
      z-index: $top_z_index;
      &:hover{
        @include buttonHover();
      }
    }
  }

}