@import "./variables";
@import "./mixins";

.fa_menu_bars{
  color: $secondary_color;
  padding: 0 1px;
  @include scale(1.5);
  @include fastTransition();
  position: fixed;
  top: 15px;
  left: 25px;
  z-index: 100;
  &:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}
.fa_cart{
  position: absolute;
  right: 25px;
  top: 15px;
  @include scale(1.5);
  color: $secondary_color;
}
.navbar_container{
  .navbar{
    @include fastTransition();
    @include flexCenterCol();
    overflow-y: scroll;
    z-index: 99;
    position: fixed;
    top: 0;
    background: $primary_color;
    border-right: 5px solid $secondary_color;
    height: 100vh;
    width: 20vw;
    .link {
      @include borderRadius(5px);
      @include fastTransition();
      color: $primary_color;
      text-decoration: none;
      width: 90%;
      padding: 20px 0;
      margin: 5px 0;
      text-align: center;
      background: $secondary_color;
      border: 1px solid transparent;
      &:hover{
        @include buttonHover();
      }
    }
    #log_in_out_button{
      @include borderRadius(5px);
      position: absolute;
      bottom: 50px;
      width: 80%;
      padding: 10px 0;
    }
  }
}

.hide{
  left: -20vw;
}
.show{
  left: 0px;
}

@media (max-width: 500px) {
  .navbar_container {
    .navbar {
      width: 100vw;
      height: 100%;
    }

    .hide {
      left: -100%;
      height: 100%;
    }
  }
}