@import "./variables";
@import "./mixins";
.oos_filter{
  @include flexCenterCol();
  width: 30%;
  height: 200px;
  .filters{
    height: 100px;
    @include flexCenterCol();
    .checkbox{
      width: 20px;
      height: 20px;
      padding: 5px;
      border: 1px solid $secondary_color;
      color: white;
      background: $third_color;
      text-align: center;
      &:hover{
        cursor: pointer;
      }
      &:active{
        @include buttonClick();
      }
    }
  }
}