@import "./variables";
@import "./mixins";
.other_filter{
  width: 30%;
  height: 200px;
  @include flexCenterCol();
  .filters{
    @include flexCenterCol();
    height: 100px;
    width: 100%;
    select {
      border: 1px solid $secondary_color;
      font-size: 1em;
      width: 80%;
      height: 40px;
      background: $third_color;
      color: $secondary_color;
      &:hover{
        cursor: pointer;
      }
      &:focus{
        outline: none;
      }
    }
  }
}