$primary_color: rgba(12, 238, 255, 0.8);
$third_color: rgba(12, 238, 255, 1);
$secondary_color: rgb(12, 185, 255);
.other_filter{
  //border: 1px solid black;
  width: 30%;
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .filters{
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    select {
      border: 1px solid $secondary_color;
      font-size: 1em;
      width: 80%;
      height: 40px;
      background: $third_color;
      color: white;
      &:hover{
        cursor: pointer;
      }
      &:focus{
        outline: none;
      }
    }
  }
}