$primary_color: rgba(12, 238, 255, 0.8);
$third_color: rgba(12, 238, 255, 1);
$secondary_color: rgb(12, 185, 255);
.shopping_cart {
  width: 400px;
  .shopping_cart_container {
    overflow-y: scroll;
    position: fixed;
    width: 400px;
    height: 100vh;
    top: 0;
    transition: 0.5s ease;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary_color;
    border-left: 5px solid $secondary_color;
  }
  .cart_button{
    background: $secondary_color;
    position: fixed;
    padding: 10px;
    color: $third_color;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    width: 50px;
    height: 50px;
    #fa_cart_button{
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -ms-transform: scale(2);
      -o-transform: scale(2);
      transform: scale(2);
    }
    .amount_in_cart{
      padding: 1px;
      position: absolute;
      color: $third_color;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid $third_color;
      background: black;
      right: 5px;
      top: 5px;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .no_gap{
    right: 5px;
  }
  .gap{
    right: 405px;
    .amount_in_cart{
      display: none;
    }
  }
}

.show_cart{
  right: 0
}

.hide_cart{
  right: -400px
}