@import "./variables";
@import "./mixins";
.shopping_cart {
  z-index: 100;
  //width: 400px;
  .shopping_cart_container {
    @include flexCenterCol();
    justify-content: flex-start;
    padding-top: 60px;
    z-index: 100;
    overflow-y: scroll;
    position: fixed;
    width: 400px;
    height: 100vh;
    top: 0;
    transition: 0.5s ease;
    background: black;
    background: $primary_color;
    border-left: 5px solid $secondary_color;
  }
  #clear_cart_button{
    @include borderRadius(5px);
    @include fastTransition();
    color: $third_color;
    font-weight: bold;
    position: fixed;
    top: 10px;
    width: 300px;
    height: 40px;
    z-index: 101;
    background: $secondary_color;
    border: 1px solid $third_color;
    &:hover{
      @include buttonHover();
    }
    &:active{
      outline: none;
    }
  }
  .cart_button{
    @include flexCenterRow();
    @include slowTransition();
    background: $secondary_color;
    position: fixed;
    padding: 10px;
    color: $third_color;
    top: 0;
    width: 50px;
    height: 50px;
    #fa_cart_button{
      @include scale(2);
    }
    .amount_in_cart{
      @include borderRadius(50%);
      @include flexCenterCol();
      padding: 1px;
      position: absolute;
      color: $third_color;
      width: 20px;
      height: 20px;
      border: 1px solid $third_color;
      background: black;
      right: 5px;
      top: 5px;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .no_gap{
    right: 5px;
  }
  .gap{
    right: 405px;
    .amount_in_cart{
      display: none;
    }
  }
}

.show_cart{
  right: 0
}

.hide_cart{
  right: -400px
}