$primary_color: rgba(12, 238, 255, 0.8);
$third_color: rgba(12, 238, 255, 1);
$secondary_color: rgb(12, 185, 255);
.store_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $secondary_color;
  font-weight: bold;
  letter-spacing: 2px;
  .products{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}