@import "./variables";
@import "./mixins";
.store_container{
  @include flexCenterCol();
  width: 100%;
  color: $secondary_color;
  font-weight: bold;
  letter-spacing: 2px;
  .products{
    width: 100%;
    @include flexCenterRowWrap();
  }
}