@import "./variables";
@import "./mixins";
.type_filter{
  @include flexCenterCol();
  width: 35%;
  text-align: center;
  height: 200px;
  .filters{
    @include flexCenterRowWrap();
    height: 100px;
    width: 100%;
    div{
      @include borderRadius(5px);
      @include flexCenterRow();
      @include fastTransition();
      font-weight: normal;
      letter-spacing: 1px;
      margin: 5px;
      border: 1px solid $secondary_color;
      color: $secondary_color;
      background: $third_color;
      width: 40%;
      height: 30px;
      &:hover{
        cursor: pointer;
      }
      &:active{
        @include buttonClick();
      }
    }
    .clicked{
      border-color: $third_color;
      background: $secondary_color;
      color: $third_color;
    }
  }
}